{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "jest": true
  },

  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["example/**/*", "test/**/*"] }]
  }
}
